name: Vionix Run

on:
  workflow_run:
    workflows: ["Vionix Prepare Assets"]
    types:
      - completed

jobs:
  run:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Run main process
        run: python main.py
